.app_1 {
  display: block;
  font-size: 55px;
  font-weight: inherit;
  color: #333;
  position: relative;
  padding: 10px 20px;
  padding-left: 70px;
  margin-bottom: 10px;
  animation-name: changeColor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border: 1px solid #ccc; /* Agrega un borde de 1px sólido con color gris */
  border-radius: 5px; /* Añade esquinas redondeadas */
  background-color: #7d3c3c; /* Agrega un color de fondo */
}

@keyframes changeColor {
  from {
    color: #5c7cdd;
  }
  to {
    color: #f9ff47; /* Cambia el color a amarillo */
  }
}

.app_1::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 55px; /* Ajusta el tamaño del círculo */
  height: 55px; /* Ajusta el tamaño del círculo */
  background-image: url('/pokedexicono.jpg'); /* Ruta de la imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen */
  border-radius: 50%;
}

.app_2 {
  display: block;
  font-size: 35px;
  font-weight: inherit;
  color: #e3f51c;
  position: relative;
  padding-right: 70px;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  padding: 10px 20px; /* Agrega un relleno de 10px */
  border: 1px solid #ccc; /* Agrega un borde de 1px sólido con color gris */
  border-radius: 5px; /* Añade esquinas redondeadas */
  background-color: #7d3c3c; /* Agrega un color de fondo */
}


.app_3 {
  display: block;
  font-size: 30px;
  font-weight: inherit;
  color: #1c59f5;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  padding: 10px 20px; /* Agrega un relleno de 10px */
  border: 1px solid #ffffff; /* Agrega un borde de 1px sólido con color gris */
  border-radius: 5px; /* Añade esquinas redondeadas */
  background-color: #7d3c3c; /* Agrega un color de fondo */
  animation: downloadAnimation 3s infinite;
}

@keyframes downloadAnimation {
  0% {
    transform: translateY(0);
    color: inherit;
  }
  50% {
    transform: translateY(2px);
    color: #e3f51c;
  }
  100% {
    transform: translateY(0);
    color: inherit;
  }
}

  